<!DOCTYPE html>
<html lang="en">
<head>
    <header>
        <div id="wrapper">
          <div class="top-menu clearfix">
            <div class="menu">
              <div class="logo">
                <a href="">
                  <img src="https://upload.wikimedia.org/wikipedia/sco/thumb/4/42/British_Airways_Logo.svg/1280px-British_Airways_Logo.svg.png" alt="">
                </a>
              </div>
              <div class="between">
                <ul class="left">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="upload.html">Upload</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="">Coming Soon</a></li>
                </ul>
              </div>
              <div class="topnav">
                <div class="search-container">
                  <form action="/action_page.php">
                      <input type="text" placeholder="Search.." name="search">
                      <button type="submit"><i class="fa fa-search"><img src="https://cdn-icons-png.flaticon.com/512/3917/3917754.png"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/CSS/about.css" rel="stylesheet" type="text/css" />
    <STYLE>A {text-decoration: none;} </STYLE>
</head>
<br><br><br><br><br><br><br><br>
<div class="blog">
    This website was created by 3 computer science students at the University of Pittsburgh: Kavin Sankar, Ruchi Hegde, and Julianne Kruse.
</body>
</html>
