<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="display.css" rel="stylesheet" type="text/css" />
  <STYLE>A {text-decoration: none;} </STYLE>
  </head>
  <body>
    <h1 style="text-align: center; background-color: #bfe3b4"> Syllabi </h1>
    <div style="float: left; width: 0px; height: 100px; position: relative" > 
    </div>
      <div style="float: right; clear: right;"><iframe src='result.pdf'
        width="816" height="1056" scrolling="no" frameborder = "0" float="left"></iframe> 
      </div>
    <form action="upload.html"> <button class="button" >Reupload</button> <br><br> </form>
    yeah dude, ur schedule is bad.  <br><br>
    <button class="button">add assignments</button>
    <div style="position:absolute; bottom:0px">
      <form action="download.html">
        <button class="button">looks good!</button>
      </form>
    </div>
  </body>
</html>