<!DOCTYPE html>
<html lang="en">
<head>
    <header>
        <div id="wrapper">
          <div class="top-menu clearfix">
            <div class="menu">
              <div class="logo">
                <a href="">
                  <img src="https://upload.wikimedia.org/wikipedia/sco/thumb/4/42/British_Airways_Logo.svg/1280px-British_Airways_Logo.svg.png" alt="">
                </a>
              </div>
              <div class="between">
                <ul class="left">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="upload.html">Upload</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="">Coming Soon</a></li>
                </ul>
              </div>
              <div class="topnav">
                    <input type="text" placeholder="Search..">
              </div>
            </div>
          </div>
        </div>
      
      </header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="sheInnovates.css" rel="stylesheet" type="text/css" />
    <STYLE>A {text-decoration: none;} </STYLE>
</head>
<br><br><br><br><br><br><br><br>
<h1>
  Upload your syllabi! &nbsp (note: must be in pdf or docx format)
</h1>
<div class="blog">
    <form action = "" method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "upload" multiple accept = "image/*, .pdf, .docx"/>
    <input type = "submit"/>
 </form>
</div>

</body>
</html>
